<html>
<body>
<h1>Add/Edit Snack</h1>

{% for msg in get_flashed_messages() %}
  <div>{{ msg }}</div>
{% endfor %}

<form id="snack-add-form" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}

  <button type="submit">Submit</button>
</form>

</body>
</html>
