body {
    background-color: #bf4242;
  }
  
  form {
    width: 400px;
    margin: auto;
    margin-top: 250px;
  }
  
  input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
  }
  
  .search {
    width: 75%;
  }
  
  .submit {
    width: 70px;
    background-color: black;
    color: #ffffff;
  }

  