<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Address Form</title>
</head>

<body>
  <h1>Enter Your Address!</h1>
  {% if coords %}
  <h3>Lat: {{coords['lat']}}</h3>
  <h3>Long: {{coords['lng']}}</h3>
  {% endif  %}
  <form action="/geocode">
    <input type="text" name="address" placeholder="Enter Address">
    <button>Go!</button>
  </form>
</body>

</html>