<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forex Currency Converter</title>
    <style>
        .containter {
            max-width: 500px;
            margin: auto; 
        }
    </style>
</head>
<body class="body">
    <form id="currency_converter" class=form method="post" action="/">  
        <div class="converting_from_label">
            <label for="converting_from_input">Amount:</label>
            <select name="currency" id="currency"
                class=fromselectoptions>
                    <option selected value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="CHF">CHF</option>
                    <option value="CHF">CAD</option>
                    <option value="CHF">GBP</option>
                    <option value="CHF">AUD</option>
                    <option value="CHF">NZD</option>
                    <option value="CHF">JPY</option>
            </select>
            <input type="tel" id="converting_from_input" name="converting_from_input" value=""
            class="convertingfrominput">
        </div>
        <div class="converting_to_lable">
            <label for="converting_to_input" >Currency</label>
            <select name="currency" id="currency"
                class=toselectoptions>
                    <option selected value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="CHF">CHF</option>
                    <option value="CHF">CAD</option>
                    <option value="CHF">GBP</option>
                    <option value="CHF">AUD</option>
                    <option value="CHF">NZD</option>
                    <option value="CHF">JPY</option>
            </select>
        </div>
        <button type="submit" class="submit_button">Convert Currency</button>
    </form>


   
</body>
</html>