body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App > div {
  vertical-align: top;;
  margin-top: 1em;
  width: 30%;
  display: inline-block;
  border: solid 1px black;
  padding-left: 2em;
  margin-left: 2em;
}

form {
  margin-bottom: 1em;
}