{% extends 'base.html' %}

{% block content %}

<form action="/convert">
  <div class="form-group">
    <label>Converting from
      <input name="code_from" value="{{ code_from }}">
    </label>
  </div>
  <div class="form-group">
    <label>Converting to
      <input name="code_to" value="{{ code_to }}">
    </label>
  </div>
  <div class="form-group">
    <label>Amount:
      <input name="amt" value="{{ amt }}">
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Convert</button>
</form>

{% endblock %}
