<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Sports Database Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>With this website, you can search your data for teams and athletes</h1>

    <form action="/form/submit" method="GET"> 
        <input type="text" name="text" class="search" placeholder="Search here!">
        <input type="submit" name="submit" class="submit" value="Search">
      </form>


<!-- <script>
    const BASE_API_URL = "https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=S&Season=2022-23&SeasonType=Regular%20Season&StatCategory=PTS"
    async function pullStats() {
    // pull stats from nba.com
    const response = await fetch(BASE_API_URL);
    let data = await response.json();
    console.log(data);
    return response.data
  }

pullStats();



</script> -->



<script id="data"  src="sportsdatabase.js"></script>
</body>
</html>

type="text/javascript"