<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Directory</title>
</head>

<body>
  <div class="container">
    <h1 class="display-1">Phone Numbers</h1>
    <table class="table table-striped ">
      <thead class="thead-dark">
        <th>Employee</th>
        <th>Department</th>
        <th>Phone</th>
      </thead>
      <tbody>
        {% for emp in emps %}
        <tr>
          <td>{{emp.name}} <a class="btn btn-sm btn-info" href="/employees/{{emp.id}}/edit">Edit</a></td>
          <td>{{emp.dept.dept_name}}</td>
          {% if emp.dept.phone %}
          <td>{{emp.dept.phone}}</td>
          {% else %}
          <td class="text-danger">NO PHONE</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/employees/new" class="btn btn-success">Add Employee</a>
  </div>
</body>

</html>