<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Secret Invite</title>
</head>

<body>
  <h1>You're Invited!</h1>
  <h2>Party Details</h2>
  <p>Get ready for the party of the century! Come dressed as a penguin or a llama. Please take the costume requirements
    seriously, we will turn you away if you do not.</p>
  <h2>When? Where?</h2>
  <ul>
    <li>Time: 2pm PST</li>
    <li>Where: Limantour Beach, Pt Reyes CA</li>
  </ul>

</body>

</html>