<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enter Secret Code</title>
</head>

<body>
  <h1>ENTER YOUR CODE</h1>
  <p>To view invite details, please enter the secret code you should have recieved as a text</p>
  <form action="/login">
    <input type="text" name="secret_code" placeholder="Enter secret code">
    <button>Submit</button>
  </form>
</body>

</html>