.Cell {
  height: 100px;
  width: 100px;
  border-radius: 1px;
  background-color: rgba(169, 169, 169, 0.5);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.Cell-lit {
  background-color: lightseagreen;
}